<section class="py-20 overflow-hidden bg-cyan-100">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center -m-8">
      <div class="w-full md:w-1/2 p-8">
        <div class="md:max-w-md">
          <h2
            class="font-heading text-left text-blue-900 text-2xl sm:text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold md:mb-8 max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-5xl xl:max-w-6xl mx-auto font-heading tracking-tighter-xl"
          >
            Escribo fantasía y ciencia ficción
          </h2>
          <p class="mb-8 text-lg text-black-300">
            Creo en el hopepunk porque necesitamos creer que futuros más amables son posibles para poder crearlos. Me fascina la naturaleza e intento plasmarlo en mis historias.
          </p>
          <a
            class="inline-block text-white hover:text-opacity-80 font-medium underline transition duration-500"
            href="#"
            >Read more</a
          >
        </div>
      </div>
      <div class="w-full md:w-1/2 p-8">
        <div class="mx-auto max-w-lg md:mr-0">
          <div class="flex flex-wrap -m-4">
            <div class="w-1/2 p-4">
              <div class="flex flex-wrap">
                <div class="mb-8 w-full">
                  <img
                    class="w-full rounded-3xl"
                    src="assets/images/elenaVertical4.jpg"
                    alt=""
                  />
                </div>
                <div class="w-full">
                  <img
                    class="w-full rounded-3xl"
                    src="assets/images/elenaVertical3.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="w-1/2 p-4">
              <div class="flex flex-wrap mt-24">
                <div class="mb-8 w-full">
                  <img
                    class="w-full rounded-3xl"
                    src="assets/images/nieveVertical.jpg"
                    alt=""
                  />
                </div>
                <div class="w-full">
                  <img
                    class="w-full rounded-3xl"
                    src="assets/images/elenaVertical2.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
