<section class="py-20 lg:py-32 overflow-hidden bg-gray-900">
  <div class="container px-4 mx-auto">
    <div class="max-w-lg lg:max-w-7xl mx-auto">
      <div class="flex flex-wrap -mx-4 mb-18 items-center">
        <div class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
          <div class="max-w-md">
            <h1 class="font-heading text-4xl xs:text-6xl font-bold text-gray-50">
              <span>Customer is Our</span>
              <span class="font-serif italic">Priority</span>
            </h1>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-lg lg:ml-auto">
            <p class="text-gray-300">Risus viverra justo sagittis vestibulum metus. Massa lacinia eros posuere cursus sed vestibulum massa gravida. Turpis volutpat faucibus hac sed suspendisse convallis vestibulum massa.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4 mb-16 lg:mb-12 items-center">
        <div class="relative w-full lg:w-1/2 pb-16 lg:pb-0 px-4 mb-12 lg:mb-0">
          <div class="hidden lg:block absolute top-1/2 right-0 transform -translate-y-1/2 w-px h-60 bg-gray-500"></div>
          <div class="lg:hidden absolute bottom-0 left-1/2 transform -translate-x-1/2 h-px w-52 bg-gray-500"></div>
          <div class="max-w-sm">
            <img class="block mb-6" src="saturn-assets/images/testimonials/quote-white.svg" alt="">
            <h5 class="text-xl font-semibold text-white mb-10">Really recommend for agency</h5>
            <p class="text-lg text-gray-300 mb-6">“They are able to help a startup like mine scale and are very responsive to all our unique needs”</p>
            <div class="flex items-center">
              <img class="block w-12 h-12 rounded-full" src="saturn-assets/images/testimonials/avatar-reviews2.png" alt="">
              <div class="ml-4">
                <span class="block font-semibold text-white leading-none mb-1">Jhonatan Albert</span>
                <span class="block text-sm text-gray-400">Founder of Saturn</span>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-sm lg:mx-auto">
            <img class="block mb-6" src="saturn-assets/images/testimonials/quote-white.svg" alt="">
            <h5 class="text-xl font-semibold text-white mb-10">Amazing Experience</h5>
            <p class="text-lg text-gray-300 mb-6">“They are able to help a startup like mine scale and are very responsive to all our unique needs”</p>
            <div class="flex items-center">
              <img class="block w-12 h-12 rounded-full" src="saturn-assets/images/testimonials/avatar-reviews1.png" alt="">
              <div class="ml-4">
                <span class="block font-semibold text-white leading-none mb-1">Jovanca Azalea</span>
                <span class="block text-sm text-gray-400">CTO of Coca Soft</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button class="inline-block mr-1 w-7 h-1 bg-orange-900"></button>
        <button class="inline-block mr-1 w-7 h-1 bg-gray-400 hover:bg-gray-200"></button>
        <button class="inline-block w-7 h-1 bg-gray-400 hover:bg-gray-200"></button>
      </div>
    </div>
  </div>
</section>
