<section class="py-12 md:py-24 px-4 md:px-12 bg-neutral-50">
  <div class="py-20 lg:pt-44 lg:pb-36 bg-white rounded-4xl">
    <div class="container mx-auto px-4">
      <div class="max-w-6xl mx-auto">
        <h1 class="font-heading text-center text-neutral-800 text-2xl sm:text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold mb-16 md:mb-32 max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-5xl xl:max-w-6xl mx-auto tracking-tight font-heading">
          <span>Empowering through online learning. This is our life. For over 35 years, we've been sharing</span>
          <span class="bg-orange-50 rounded-lg px-4 mt-1 inline-block">our passion for</span>
          <span>digital education with the world. Join us and experience the joy of</span>
          <span class="bg-orange-50 rounded-lg px-4 mt-1 inline-block">learning</span>
          <span>like never before.</span>
        </h1>
        <div class="flex flex-wrap justify-center items-end -m-4 md:pb-16 mb-16">
          <div class="w-full md:w-2/12 p-4">
            <img class="relative md:top-16 rounded-3xl object-cover w-full h-44 max-w-xs mx-auto" src="assets/images/elenaSignVertical.jpg" alt="">
          </div>
          <div class="w-full md:w-6/12 p-4">
            <img class="rounded-3xl object-cover w-full h-72 max-w-lg mx-auto" src="assets/images/elenaFriendsHorizontal.jpg" alt="">
          </div>
          <div class="w-full md:w-3/12 p-4">
            <img class="relative md:top-16 rounded-3xl object-cover w-full h-60 max-w-xs mx-auto" src="assets/images/elenaCuadrada.jpg" alt="">
          </div>
        </div>
        <p class="text-center text-neutral-600 text-2xl font-semibold mb-10 tracking-tight">Your journey to digital excellence starts here.</p>
      </div>
    </div>
  </div>
</section>
