<section
  class="py-12 md:py-24 px-4 md:px-12 bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800"
>
  <div class="py-20 lg:pt-44 lg:pb-36">
    <div class="container mx-auto px-4">
      <div class="max-w-6xl mx-auto">
        <h1
          class="font-heading text-center text-white text-2xl sm:text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold mb-16 md:mb-32 max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-5xl xl:max-w-6xl mx-auto tracking-tight font-heading"
        >
          Comida Gatos Playa Amistades Historias Setas Calabazas Cabras Tomillo
          Té Sábanas de pelito Vainilla Bojack Horseman
        </h1>
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap -m-3">
            <div class="w-full lg:w-1/2 p-3">
              <img
                class="w-full h-72 rounded-lg object-cover"
                src="assets\images\elena-playa.webp"
                alt="Elena Tejedor en la playa"
              />
            </div>
            <div class="w-full lg:w-1/2 p-3">
              <img
                class="w-full h-72 rounded-lg object-cover"
                src="assets\images\elena-amigas.webp"
                alt="Elena Tejedor con amigas"
              />
            </div>
            <div class="w-full lg:w-1/3 p-3">
              <img
                class="w-full h-72 rounded-lg object-cover"
                src="assets\images\nieve-tumbado.webp"
                alt="Nieve. el gato de Elena Tejedor, tumbado en sofá"
              />
            </div>
            <div class="w-full lg:w-1/3 p-3">
              <img
                class="w-full h-72 rounded-lg object-cover"
                src="assets\images\elena-reunion.webp"
                alt="Elena Tejedor en reunión"
              />
            </div>
            <div class="w-full lg:w-1/3 p-3">
              <img
                class="w-full h-72 rounded-lg object-cover object-top"
                src="assets\images\elena-noche.webp"
                alt="Elena de camping"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
