<div class="container my-24 mx-auto md:px-6">
  <section class="mb-32 text-center lg:text-left">
    <div class="py-12 md:px-6 md:px-12">
      <div class="container mx-auto xl:px-32">
        <div class="flex grid items-center lg:grid-cols-2">
          <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:px-12 lg:-mr-14"
            >
              <h2
                class="mb-2 text-3xl font-bold text-primary dark:text-primary-400"
              >
                Elena Tejedor
              </h2>
              <p class="mb-4 font-semibold">Hola, soy escritora</p>
              <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                Escribo sobre mis dramas porque me resultan fascinantes y
                pretendo así costearme las terapias. Soy intensa, radical y
                amante de los gatos. Y de los demás animales, plantas, hongos y
                algas.
              </p>
              <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                Mi serie de confort es Bojack Horseman. Soy monsterfucker y odio
                a Elon Musk. Me gusta más estar en el agua que en la tierra.
              </p>
            </div>
          </div>
          <div class="md:mb-12 lg:mb-0">
            <img
              src="assets\images\elena-dragon.webp"
              class="lg:rotate-[6deg] w-full rounded-lg shadow-lg dark:shadow-black/20"
              alt="Elena Tejedor y si gato dragón"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
