<section
  class="min-h-full max-h-full relative py-20 bg-gradient-to-r from-teal-600 via-cyan-600 to-teal-900 overflow-hidden"
>
  <div class="relative">
    <img
      class="absolute bottom-00 right-0 "
      src="assets/images/elenaVerticalTrans.webp"
      alt="foto de Elena Tejedor"
    />
    <div class="relative ">
      <div class="container px-4 mx-auto pt-24 pb-20 ">
        <div class="max-w-2xl sm:max-w-2xl lg:max-w-3xl w-full">
          <h1
            class=" animate-bounce font-heading text-left text-white text-2xl sm:text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold mb-0 max-w-lg sm:max-w-lg md:max-w-2xl lg:max-w-5xl xl:max-w-6xl mx-auto tracking-tight font-heading"
          >
            Hola, me llamo Elena Tejedor y soy
          </h1>
          <div
            class="min-h-12 max-h-12 mt-0  font-heading text-left text-white text-2xl sm:text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold mb-0 max-w-lg sm:max-w-lg md:max-w-2xl lg:max-w-5xl xl:max-w-6xl mx-auto tracking-tight font-heading mb-20"
            >{{ textToShow }}</div
          >
          <p
            class="max-w-sm lg:max-w-md mb-8 text-blue-300 text-sm lg:text-base mb-8"
          >
       Os doy la bienvenida a mi vida como escritora. Otros mundos son posibles y necesarios, escribo para crearlos. Madurar es apreciar cada vez más los pastelillos árabes. Sí, estoy comiendo uno mientras escribo esto. Debería haber comprado más.
          </p>
          <div class="flex items-center flex-wrap gap-6 mb-24">
            <a
              class="inline-flex h-12 py-1 px-6 items-center text-center text-sm font-medium text-white rounded-sm bg-purple-500 hover:bg-purple-600 transition duration-200"
              href="#"
              >Mis libros</a
            >
            <a class="flex items-center gap-2 group" href="#">
              <div
                class="text-white group-hover:text-opacity-80 transition duration-200"
              ></div>
              <span
                class="text-sm text-white font-medium group-hover:text-opacity-80 transition duration-200"
                >Sobre mi</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
