<section class="relative py-20 bg-black overflow-hidden">
  <div class="relative">
    <img
      class="absolute bottom-00 right-0"
      src="assets/images/elenaVerticalTrans.png"
      alt=""
    />
    <div class="relative">
      <div class="container px-4 mx-auto pt-24 pb-20">
        <div class="max-w-sm sm:max-w-md lg:max-w-xl">
          <h1
            class="text-3xl xs:text-4xl sm:text-5xl md:text-6xl font-heading text-white font-semibold mb-8"
          >
           Hola, me llamo Elena Tejedor y soy escritora.
          </h1>
          <p
            class="max-w-sm lg:max-w-md mb-8 text-blue-300 text-sm lg:text-base"
          >
            Build a well-presented brand that everyone will love. Take care to
            develop resources continually and integrity them with previous
            projects.
          </p>
          <div class="flex items-center flex-wrap gap-6 mb-24">
            <a
              class="inline-flex h-12 py-1 px-6 items-center text-center text-sm font-medium text-white rounded-sm bg-purple-500 hover:bg-purple-600 transition duration-200"
              href="#"
              >Mis libros</a
            >
            <a class="flex items-center gap-2 group" href="#">
              <div
                class="text-white group-hover:text-opacity-80 transition duration-200"
              >

              </div>
              <span
                class="text-sm text-white font-medium group-hover:text-opacity-80 transition duration-200"
                >Sobre mi</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
